.bg-primary {
  background-color: #fb8c00 !important;
  border: none;
}

.bg-primary:hover,
.bg-primary:active {
  background-color: #c96f01 !important;
}

.bg-danger {
  background-color: #5d4037 !important;
  border: none;
}

.bg-danger:hover,
.bg-danger:active {
  background-color: #3f2b25 !important;
}

.bg-info {
  background-color: #d81b60 !important;
  border: none;
}

.bg-info:hover,
.bg-info:active {
  background-color: #91103f !important;
}

.bg-secondary {
  background-color: #ab47bc !important;
  border: none;
}

.bg-secondary:hover,
.bg-secondary:active {
  background-color: #742f80 !important;
}

.bg-success {
  background-color: #66bb6a !important;
  border: none;
}

.bg-success:hover,
.bg-success:active {
  background-color: #49864c !important;
}

.bg-warning {
  background-color: #b71c1c !important;
  border: none;
}

.bg-warning:hover,
.bg-warning:active {
  background-color: #6a1010 !important;
}

.bg-light {
  background-color: #ef5350 !important;
  border: none;
}

.bg-light:hover,
.bg-light:active {
  background-color: #a53735 !important;
}

.bg-dark {
  background-color: #42a5f5 !important;
  border: none;
}

.bg-dark:hover,
.bg-dark:active {
  background-color: #2f7cba !important;
}
