.variant-primary {
  background-color: #ff7043 !important;
  border: 0;
}

.variant-info {
  background-color: #ab47bc !important;
  border: 0;
}

.variant-secondary {
  background-color: #ffcc80 !important;
  border: 0;
}

.variant-success {
  background-color: #66bb6a !important;
  border: 0;
}

.variant-warning {
  background-color: #8d6e63 !important;
  border: 0;
}

.variant-light {
  background-color: #9ccc65 !important;
  border: 0;
}

.variant-dark {
  background-color: #5c6bc0 !important;
  border: 0;
}
