.variant-primary {
  background-color: #ff7043 !important;
  border: 0;
}

.variant-info {
  background-color: #ab47bc !important;
  border: 0;
}

.variant-secondary {
  background-color: #ffcc80 !important;
  border: 0;
}

.variant-success {
  background-color: #66bb6a !important;
  border: 0;
}

.variant-warning {
  background-color: #8d6e63 !important;
  border: 0;
}

.variant-light {
  background-color: #9ccc65 !important;
  border: 0;
}

/* for the advanced search button */
:disabled.variant-dark {
  background-color: white !important;
  border: 2px solid #9eb384 !important;
  color: #9eb384 !important;
  font-weight: 600 !important;
}

:visited.variant-dark {
  background-color: white !important;
  border: 2px solid #9eb384 !important;
  color: #9eb384 !important;
}

:active.variant-dark {
  background-color: white !important;
  border: 3px solid rgba(158, 179, 132, 0.3) !important;
  color: rgba(158, 179, 132, 0.5) !important;
}

:hover.variant-dark {
  background-color: white !important;
  border: 2px solid #9eb384 !important;
  color: #9eb384 !important;
}

.variant-dark {
  background-color: white !important;
  border: 2px solid #9eb384;
  color: #9eb384;
  padding: 0;
}
