.variant-primary {
  background-color: #ff7043 !important;
  border: 0;
}

.variant-info {
  background-color: #ab47bc !important;
  border: 0;
}

.variant-secondary {
  background-color: #ffcc80 !important;
  border: 0;
}

.variant-success {
  background-color: #66bb6a !important;
  border: 0;
}

.variant-warning {
  background-color: #8d6e63 !important;
  border: 0;
}

/* for the go button*/

.variant-light,
.variant-light:visited,
.variant-light:hover,
.variant-light:focus {
  background-color: var(--primary) !important;
  color: var(--white) !important;
}

.variant-light:active {
  background-color: var(--dark-primary) !important;
  color: var(--white) !important;
}

/* for the advanced search button */
.variant-dark:disabled {
  background-color: var(--white) !important;
  border: 2px solid var(--primary) !important;
  color: var(--primary) !important;
  font-weight: 600 !important;
}

.variant-dark:active {
  background-color: var(--white) !important;
  border: 3px solid rgba(158, 179, 132, 0.3) !important;
  color: rgba(158, 179, 132, 0.5) !important;
}

.variant-dark,
.variant-dark:hover,
.variant-dark:visited {
  background-color: var(--white) !important;
  border: 2px solid var(--primary) !important;
  color: var(--primary) !important;
}
