.container {
   width: 90%;
   margin: auto;
	padding: 1em;
}

.banner {
   margin: 0;
   padding: 0;
}

.recommendation_md {
   display: none;
}

.recommendation_lg {
   display: flex;
   width: 100%;
}

.sm_3_cards {
   height: 100%;
}

@media screen and (max-width: 990px) {

   .recommendation_md {
      display: flex;
   }

   .recommendation_lg {
      display: none;
   }

}