/** XLarge Screen size approach */
.container {
   width: 90%;
   max-width: 1200px;
   margin: auto;
	padding: 1em;
}

.banner {
   margin: 0;
   padding: 0;
}

.recommendation_xl {
   display: flex;
   width: 100%;
   padding: 0;
   margin: 0;
}

.recommendation_lg {
   display: none;
}

.sm_3_cards {
   width: 100%;
   height: 100%;
   font-size: smaller;
}

/** Large & medium screen size break point */
@media screen and (max-width: 990px) {
   .recommendation_xl {
         display: none;
      }

   .recommendation_lg {
      display: flex;
   }

}

/** Medium screen size break point */
@media screen and (max-width: 576px) {
   .recommendation_lg > div > div {
      height: 100%;
   }

}