:root {
   --dark-text: #323539;
   --dark-primary: #435334;
   --primary: #9EB384;
   --light-primary: #CEDEBD;
   --light: #FAF1E4;
   --white: #fff;

}

.container {
   width: 90%;
   margin: auto;
	padding: 1em;
}