.btn-success {
  background-color: transparent;
  border-color: transparent;
  color: var(--dark-primary);
  padding: 0.7rem;

   transition: all 0.15s ease-in-out;
}

/** To overwrite the original .btn-success setting */
.btn-success:hover {
   background-color: transparent;
   border-color: transparent;
   color: var(--white);
}

.btn-success:active {
   background-color: var(--primary) !important;
   border-color: transparent !important;
}

.dropMenu {
   border: 1.5px solid var(--primary);
}

.container button[aria-expanded="true"] {
   width: 100%;
   background-color: var(--primary);
   padding: 0.7rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > button {
   width: 100%;
}

.icon {
  margin-right: 0.4rem;
}

.itemContainer {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  gap: 20px;

  padding: 0.7rem 2rem;
  right: 0;
}

.itemContainer span {
   color: var(--dark-primary);
   justify-content: center;
}

.itemContainer:hover {
   background-color: var(--primary);
}

.itemContainer:hover span {
   color: var(--white);
}

.cardIcon {
  width: auto;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
   margin: 0;
  align-self: center;
  justify-content: center;
}

.icon svg {
   margin: 0;
   font-size: 25px;
}

@media (max-width: 575px) {
   .container > button {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   /** Used instead of gap to prevent dropdown arrow being too far away */
   .container > button > svg {
      margin-right: 25px;
   }

   .cardIcon {
      width: 17px;
   }
}
