div.homeIcon,
div.searchIcon,
div.menu {
  display: none;
}

.container {
  background-color: #cedebd;
  padding: 0.5rem 1rem;
  position: relative;
}

.navElements {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7vw;
  font: 17px "Noto Sans", sans-serif;
}

.searches {
  margin-top: 1.3rem;
}

.navDropdowns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.logo {
  width: 8rem;
  height: auto;
  padding: 65.33px, 0 !important;
}

.iconContainer {
  padding-top: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  min-width: 6.5rem;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.iconContainer:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  background-color: var(--primary);
  color: var(--white);
  padding: 0.5rem 0 0 0;
}

.iconContainer:hover .icon {
  color: var(--white);
}

.iconContainer:hover .iconText {
  color: var(--white);
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #435334;
}

.iconText {
  color: #435334;
  padding: 0.7rem;
  transition: none;
}

.todoDrop {
  margin-top: 4rem;
  color: #435334;
}

.searchBar {
  width: 35vw;
}

@media (max-width: 834px) {
  .searches {
    display: none;
  }

  .iconContainer {
    min-width: 5rem;
  }

  div.homeIcon,
  div.searchIcon {
    display: flex;
  }

  .navElements {
    gap: 13vw;
  }
}

@media (max-width: 680px) {
  .navElements {
    gap: 5%;
  }
}

@media (max-width: 575px) {
  .searchIcon,
  div.iconContainer,
  .todo {
    display: none;
  }
  div.homeIcon,
  div.menu {
    display: flex;
  }

  .icon {
    width: 2rem;
    height: 2rem;
  }

  .navElements {
    gap: 10%;
  }

  .iconContainer {
    min-width: 4rem;
  }
}
