/** Large screen size */
.container {
  width: 100%;
  background-color: var(--light-primary);
  padding: 1rem;
  position: relative;
}

.navElements {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  font: 15px "Noto Sans", sans-serif;
}

.leftCol,
.middleCol,
.rightCol {
  align-items: top;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 0;
}

.middleCol {
  flex-grow: 2.5;
}

.homeIcon,
.searchIcon,
.menuIcon,
.middleCol .logo {
  display: none;
}

.logo {
  width: 90%;
}

.logo img {
  width: 100%;
  display: inline-block;
  object-fit: cover;
}

.searchBar {
  align-items: top;
  width: 100%;
  padding-top: 0.7rem;
}

.iconContainer, .searchHome {
  height: 100%;
  padding: 0;
  justify-content: center;
  text-align: center;

  gap: 0.1rem;
  width: 4rem;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
}

.iconContainer div {
  align-self: center;
}

.iconContainer svg {
  margin: 0 auto 0.7rem auto;
}

.iconContainer:hover {
  background-color: var(--primary);
  color: var(--white);
}

.iconContainer:hover .icon {
  color: var(--white);
}

.iconContainer:hover .iconText {
  color: var(--white);
}

.icon, .iconHome {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--dark-primary);
}

.textSmall {
  margin-left: 20%;
  font-size: 20px;

}

.iconSmall {

  width: 2.3rem;
  height: 2.3rem;
  color: var(--dark-primary);

}

.todoDrop {
  margin-top: 4rem;
  color: var(--dark-primary);
}

.searchHome div{
  align-self: center;

}
.searchHome{
  margin-left:20%;
}
.searchHome svg{
  margin: 0.7rem auto 0.7rem auto;
}

.searchHome:hover{
  background-color: var(--primary);
  color: var(--white);
}
.searchHome:hover .iconHome{
  color: var(--white);

}



/** Medium screen size */
@media (max-width: 990px) {

  .searchBar,
  .searchHome,
  .leftCol .logo {
    display: none;
  }

  .homeIcon,
  .searchIcon,
  .middleCol .logo {
    display: flex;
  }

  .middleCol .logo {
    width: 130px;
    margin: auto;
  }

  .iconContainer {
    width: 5rem;
  }
}

/** Small screen size */
@media (max-width: 576px) {

  .searchIcon,
  .themeIcon,
  .todoIcon {
    display: none;
  }

  .menuIcon {
    display: flex;
    width: 100%;
  }


  .iconContainer {
    width: 100%;
  }

  .dropdownSmall {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;
    margin: 0;
    

  }
 
  .dropdownSmall:hover{
    background-color: var(--primary);
    color: var(--white);
  }
  .todoIconSmall
 {display: flex;
  flex-direction: row;  
  align-items: center; }
  
  .iconSmallTheme{
    width:3.5rem;
    height: 3.5rem;
    color: var(--dark-primary);
  }
  .todoDrop{
 
 display: inline;
  }

}
