.container {
  background-color: #cedebd;
  padding: 0 1rem;
  position: relative;
}

.navElements {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  font: 17px "Noto Sans", sans-serif;
}

div.homeIcon,
div.searchIcon {
  display: none;
}

.searches {
  margin-top: 1.3rem;
}

.navDropdowns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.logo {
  width: 8rem;
  height: auto;
  padding: 65.33px, 0 !important;
}

.iconContainer {
  padding-top: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  min-width: 6.5rem;
  border-radius: 5px;
}

.iconContainer:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  background-color: #9eb384;
  color: white;
  padding: 0.5rem 0 0 0;
}

.iconContainer:hover .icon {
  color: white;
}

.iconContainer:hover .iconText {
  color: white;
}

.icon {
  width: 3rem;
  height: 3rem;
  color: #435334;
}

.iconText {
  color: #435334;
  padding: 0.7rem;
}

.todoDrop {
  margin-top: 4rem;
  color: #435334;
}

.searchBar {
  width: 10rem;
}

@media (max-width: 834px) {
  .searches {
    display: none;
  }

  div.homeIcon,
  div.searchIcon {
    display: block;
  }

  .navElements {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    font: 17px "Noto Sans", sans-serif;
  }
}

@media (max-width: 575px) {
  .navItems {
    flex-direction: column;
    align-items: center;
  }

  .icon {
    display: none;
  }
}
