:global(.modal-content) {
	width: 790px;
	min-height: 676px;

   border: 1px solid var(--primary);
   overflow: scroll;
}

:global(.tab-content) {
	overflow-y: scroll;
	max-height: 527px;
}

:global(.nav-tabs) {
   border-bottom: 2px solid var(--primary);
}

.header {
	border: none;
}

.tabs {
   padding: 0 1em;
}

.tabs :global(.nav-link) {
	background-color: var(--light);
   color: var(--dark-primary);

   border: 1px solid var(--light-primary);
   border-bottom-color: var(--primary);
   transform: scaleX(1.02);
}

.tabs :global(.nav-link.active) {
   background-color: var(--primary);
   color: var(--white);
   font-weight: 500;
   border-color: var(--primary);

   transform: scaleX(1.05) scaleY(1.2) translateY(-0.2em);
   z-index: 10;
}

.tabs :global(.nav-link:hover) {
   border-color: var(--primary);
}

:global(.tab-pane) > div:first-child > div[class*='taskContainer']:first-of-type {
   border-top: dashed 0.5px gray;
}