:global(.modal-content) {
	width: 790px;
	min-height: 676px;
}

:global(.tab-content) {
	overflow-y: scroll;
	max-height: 527px;
}

.header {
	border: none;
}

.tabs :global(.nav-link) {
	color: black;
}
