.container {
	width: 90%;
	margin: auto;
	 padding: 1em;
  
	   display: flex;
	   flex-wrap: wrap;
	   justify-content: space-between; 
 
	 
 }
 
 .banner {
	margin: 0;
	padding: 0;
 } 
 .cardAlign{
	margin:5%;
	display: inline;
 }
 .background{
	background-image: url('src/assets/images/sample_pic.jpg');
	padding:20vh;
	width:100%;
 }
 hr{
	color: var(--dark-primary);
	margin:30px;
	
 }
 .text{
	margin-left: 5%;
	font-size: 24px;
	font-weight: bold;
 }
 .backgroundText{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-top: 10%;
 }
 .design {
	align-items: center;
	padding: 10px;
	font-size: 24px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto; /* Adjusted margin property */
  }
 @media screen and (max-width: 840px) {
 
	.container {
	   width: 100%;
	   margin: 10px;
	   padding: 0;
	}
 
 }
 @media screen and (max-width: 575px){
	.container {
	   width: 100%;
	   margin: 10px;
	   padding: 0;
	   display: block;
	}
	
 
 }