.taskContainer {
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: dashed 0.5px gray;
  align-items: center;
  justify-content: center;
}

.taskContainer:hover {
  cursor: pointer;
  background-color: var(--bs-light);
  font-weight: 500;
  border-color: transparent;
  border-radius: 3px;
  transform: translateY(-0.1em);
  box-shadow: 1px 1px 3px lightgray;

  transition: all 0.3s;
}

.checkCircleContainer {
  width: 25px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 50%;
  margin-right: 10px;
}

.checkCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: none;
}

.checkCircleContainer:hover .checkCircle {
  display: flex;
}

.taskTitle {
  flex: 1;
  line-height: 30px;
  padding: 5px 10px;
  overflow-x: hidden;
}

.dropdownContainer {
  width: 38px;
  height: 38px;
  margin-left: 20px;
}

.taskDropdown {
  visibility: hidden;
  height: 60%;
}

.taskContainer:hover .taskDropdown {
  visibility: visible;
}

.dropdownToggle {
  padding: 0px;
  background-color: var(--primary);
  border: none;
}

.dropdownToggle:after {
  display: none !important;
}

.dropdownToggle:hover,
.dropdownToggle:focus-visible,
.dropdownToggle:focus {
  background-color: var(--dark-primary);
}

.dropdownToggle:active {
  background-color: var(--dark-primary) !important;
}

.dropdownToggle[aria-expanded="true"] {
  background-color: var(--dark-primary);
}

.gearIcon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plusIcon {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
}

.taskDropdown :global(.dropdown-item) {
  font-size: small;
  color: var(--dark-primary);
}

.taskDropdown :global(.dropdown-item:hover) {
  background-color: var(--light-primary) !important;
  font-weight: 500;
}
