:root {
  --dark-text: #323539;
  --active-primary: #313c25;
  --dark-primary: #435334;
  --primary: #9eb384;
  --light-primary: #cedebd;
  --light: #faf1e4;
  --white: #fff;
}

body {
	width: 100%;
   margin: 0;
   padding: 0;
}

@media screen and (max-width: 990px) {
   body {
      font-size: 80%;
   }
}

@media screen and (max-width: 576px) {
   body {
      font-size: 60%;
   }
}
